.loader-overlay{
    position: absolute;
    top:0;
    left:0;
    z-index: 99999;
    width: 100%;
    height: 100%;
    background: rgba(255,255, 255, 0.6)    
  }
  
  .loaderr {
      position: fixed;
      /* margin: 0px auto;   */
      width: 70px;
      top: 43%;
      left: 50%;
      transform: translate(-50%, -50%);
      transform: -webkit-translate(-50%, -50%);
      transform: -moz-translate(-50%, -50%);
      transform: -ms-translate(-50%, -50%);
      z-index: 100000;
    }
    .loaderr:before {
      content: '';
      display: block;
      padding-top: 100%;
    }
    
    .circular {
      animation: rotate 1.8s linear infinite;
      height: 100%;
      transform-origin: center center;
      width: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }
    
    .path {
      stroke-dasharray: 1,200;
      stroke-dashoffset: 0;
      animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
      stroke-linecap: round;
    }
    
    @keyframes rotate {
      100% {
        transform: rotate(360deg);
      }
    }
    @keyframes dash {
      0% {
        stroke-dasharray: 1,200;
        stroke-dashoffset: 0;
      }
      50% {
        stroke-dasharray: 89,200;
        stroke-dashoffset: -35;
      }
      100% {
        stroke-dasharray: 89,200;
        stroke-dashoffset: -124;
      }
    }
    @keyframes color {
      100%, 0% {
        stroke: #008744;
      }
      40% {
        stroke: #0057e7;
      }
      66% {
        stroke: #d62d20;
      }
      80%, 90% {
        stroke: #ffa700;
      }
    }


    #overlay {
      position: fixed;
      display: none;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0,0,0,0.5);
      z-index: 2;
      cursor: pointer;
    }
    
    #text{
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 50px;
      color: white;
      transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
    }