* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
color: #333333;
}
body{
  font-family: ' font-family: Arial, Helvetica, sans-serif' ;   
  margin: 0px auto;
width:70%;
}  

.main-header {
  padding: 15px 0px 0px 0px;
  max-width: 1100px;
  margin: auto;
}
.page-container {
  max-width: 1100px;
  margin: auto;
}


.requestdemobtn {
  background-color: #f59328;
  color: #ffffff !important;
  cursor: pointer;
}
.support {
  color: #8a8a8a;
  font-weight: 900;
}
#watchList{
 margin-top: 100px;; 
}


table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  
}
