<!Doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-compatible" Content="IE-edge">
    <title>Stocks</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">

    <link href="css/style.css" rel="stylesheet" type="text/css">

    <!-- <link rel="icon" type="image/ico" href="images/elysium favicon 48px.ico" /> -->


</head>

<body>

    <header class="main-header">

        <div class="requestdemomain">
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link support" id='logoutId' onClick="logOutAction()">Sign Out</a>
                </li>
            </ul>
        </div>

    </header>

    <div style="height:1px;background:#f59328"></div>

    <!-- watchlist start -->
    <Section style="width:100%" id='watchList'>
        <h4>Watchlist</h4>
        <table style="width:50%" id='watchListTable'>


        </table>
    </Section>
    <!-- watchlist end -->

    <!-- add new stock -->
    <div style="margin-top: 25px;"><button class="btn btn-primary" data-toggle="modal" data-target="#myModal">Add
            item<span><img style="padding:5px" src='icons/add.png' widht=30 height=30 /></span></a>
        </button></div>

    <!-- search modal start -->
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <!-- Search form -->
                    <form class="form-inline d-flex justify-content-center md-form form-sm active-purple-2 mt-2">
                        <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search"
                            aria-label="Search">
                            <button class='btn btn-primary'  style="height:25px;padding:0px 5px 5px 5px;">search</button>
                    </form>

                    <!-- search Results -->
                    <div  style="height:300px;overflow-y:scroll;margin-top:20px;">
                            <h6>Search Results</h6>
                            <table style="width:50%" id='searchResultsTable'>
                                
                    
                            </table>

                    </div>
                </div>

               
            </div>

        </div>
    </div>

    <!-- search modal end -->


    <!--jquerymin.js-->
    <script src="js/jquerymin.js"></script>
    <!--popper.js-->
    <script src="js/popper.min.js"></script>
    <!--javascript.js-->
    <script src="js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>

        function addItemAction() {

        }

        function deleteItemAction() {


        swal("Are you sure to delete stock", {
            buttons: {
                no: {
                    text: "NO",
                    value: "no"
                },
                yes: {
                    text: "YES",
                    value: "yes"
                },

            },
        })
            .then((value) => {
                switch (value) {

                    case "yes":
                        // unstructuredYes(userId,requestID,model1,partno1,product1,quantity1,model2,partno2,product2,quantity2,model3,partno3,product3,quantity3,model4,partno4,product4,quantity4,model5,partno5,product5,quantity5,model6,partno6,product6,quantity6,model7,partno7,product7,quantity7,model8,partno8,product8,quantity8,model9,partno9,product9,quantity9);
                        break;

                    case "no":
                        // swal("Gotcha!", "Pikachu was caught!", "success");
                        break;

                    // default:
                    //     swal("Sorry! Refresh the page and check again");
                }
            });


        }

        function searchItemAction() {

        }


        $(document).ready(function () {

            // var payload = {
            // "to": fcmtoken,
            // "data": {
            // "title": title,
            // "body": body,
            // "type": type,
            // "id": id,
            // "icon": "https://www.yantralive.com/ic_launcher.png",
            // "date": new Date().toString()
            // }
            // };

            var list = [
                {
                    'a': '1',
                    'b': 'itc',
                    'c': '200'
                },
                {
                    'a': '2',
                    'b': 'tcs',
                    'c': '3434'
                },
                {
                    'a': '3',
                    'b': 'wipo',
                    'c': '4564'
                },
                {
                    'a': '4',
                    'b': 'sdf',
                    'c': '34'
                },
                {
                    'a': '5',
                    'b': 'hjg',
                    'c': '400'
                },
            ]

            var watchListHtml = `<tr>
        <th>S.No</th>
        <th>Name</th>
        <th>Value</th>
        <th></th>
    </tr>`;
            list.map((stock, index) => {

                watchListHtml += ` <tr>
        <td>${index + 1}</td>
        <td>${stock.b}</td>
        <td>${stock.c}</td>
        <td><img style="padding:5px" src='icons/delete.png' widht=30 height=30 onClick='deleteItemAction()'/></td>
    </tr>`
            }


            );

            document.getElementById('watchListTable').innerHTML = watchListHtml;
            document.getElementById('searchResultsTable').innerHTML = watchListHtml;

            // $.ajax({
            // type: 'POST',
            // url: "https://fcm.googleapis.com/fcm/send",
            // headers: {
            // "Authorization": 'key=' + firebaseServerKey,
            // "Content-Type": "application/json"
            // },
            // data: JSON.stringify(payload),
            // success: function (response) {
            // console.log(response);
            // console.log("success");
            // if (response.failure == 0) {
            // // alert("Web notification send to user, User ID:" + user_id);
            // }
            // },
            // error: function (xhr, status, error) {
            // alert("AJAX Failure");
            // console.log("failure");
            // console.log(xhr.error);
            // }
            // });
        });

        function loginAction() {


        }
        function logOutAction() {

            document.location.href = 'login.html';

        }
    </script>

</body>

</html>