<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <title>Stocks</title>
	<meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/login.css">
    <link rel="stylesheet" type="text/css" href="css/loader.css">

    
	 
</head>
<body>



	
<!-- login form start -->
	<section class="container">
		<div class="card card-container">
			<p class="profile-name-card" id="profile-name"></p>
			<form class="form-signin">
				<span class="reauth-email" id="reauth-email"></span> <input autofocus="" class="form-control" id="inputEmail" placeholder="Email address" required="" type="email" > <input class="form-control" id="inputPassword" placeholder="Password" required="" type="password" >
				<input class="btn btn-lg btn-primary btn-block btn-signin" onClick="signInUser()" value="Sign In">
			</form><!-- /form -->
        </div><!-- /card-container -->
    </section><!-- /section -->
    <!-- login form end -->
    

        <!-- loader start -->
        <div class="loader-overlaycont">
         <!-- loader end -->

      <!--jquerymin.js-->
      <script src="js/jquerymin.js"></script>
      <!--popper.js-->
      <script src="js/popper.min.js"></script>
      <!--bootstrap.js-->
      <script src="js/bootstrap.min.js"></script>

    <script type="text/javascript">
    // function that checks if the browser supports HTML5
	// local storage
	// @returns {boolean}
	
	function supportsHTML5Storage() {
	   try {
	       return 'localStorage' in window && window['localStorage'] !== null;
	   } catch (e) {
	       return false;
	   }
	}

	/**
	* Test data. This data will be safe by the web app
	* in the first successful login of a auth user.
	* To Test the scripts, delete the localstorage data
	* and comment this call.
	*
	* @returns {boolean}
	*/
	

        function signInUser(){
            if(!supportsHTML5Storage()) { return false; }
	   localStorage.setItem("PROFILE_NAME", "César Izquierdo Tello");
	   localStorage.setItem("PROFILE_REAUTH_EMAIL", "oneaccount@gmail.com");
	}
	$( document ).ready(function() {

        	/**
	

        //loader
        var loaderdiv = `
      <div class="loader-overlay">
      <div class="loaderr" >
              <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"></circle>
              </svg>
            </div>
            </div>` 
            // $(".loader-overlaycont").html(loaderdiv);

	   // DOM ready

	   // Test data
	   /*
	    * To test the script you should discomment the function
	    * testLocalStorageData and refresh the page. The function
	    * will load some test data and the loadProfile
	    * will do the changes in the UI
	    */
	   // testLocalStorageData();
	   // Load profile if it exits
	   //loadProfile();
	});

	/**
	* Function that gets the data of the profile in case
	* thar it has already saved in localstorage. Only the
	* UI will be update in case that all data is available
	*
	* A not existing key in localstorage return null
	*
	*/
	function getLocalProfile(callback){
	   var profileName        = localStorage.getItem("PROFILE_NAME");
	   var profileReAuthEmail = localStorage.getItem("PROFILE_REAUTH_EMAIL");

	   if(profileName !== null
	           && profileReAuthEmail !== null
	           && profileImgSrc !== null) {
	       callback(profileImgSrc, profileName, profileReAuthEmail);
	   }
	}

	/**
	* Main function that load the profile if exists
	* in localstorage
	*/
	function loadProfile() {
	   if(!supportsHTML5Storage()) { return false; }
	   // we have to provide to the callback the basic
	   // information to set the profile
	   getLocalProfile(function(profileImgSrc, profileName, profileReAuthEmail) {
	       //changes in the UI
	       $("#reauth-email").html(profileReAuthEmail);
	       $("#inputEmail").hide();
	   });
	}


    </script>
   
</body>
</html>